<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="highlight">Simplio</span> Admin</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown mega-dropdown">
          <a href="#" id="main-menu2" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UI Kits <span class="caret"></span></a>
          <div class="dropdown-menu">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <ul class="mega-box --col-2">
                  <li class="mega-heading">Bootstrap</li>
                  <li>
                    <a href="#">
                      <span class="title">Card</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Button</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Alert</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Form</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Modal</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Table</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Panel</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Thumbnail</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Card</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Button</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Alert</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Form</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Modal</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Table</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Panel</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="title">Thumbnail</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-6">
                <ul class="mega-box">
                  <li class="mega-heading">Components</li>
                  <li>
                    <a href="#">
                      <i class="icon ion-ios-grid-view"></i>
                      <span class="title">Datatable</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="border-bottom">
                      <i class="icon ion-ios-pricetags"></i>
                      <span class="title">Pricing Table</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="border-right">
                      <i class="icon ion-ios-color-wand"></i>
                      <span class="title">Step</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon ion-code"></i>
                      <span class="title">Syntax Highlight</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon ion-android-options"></i>
                      <span class="title">Timeline</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" id="main-menu1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Page Example <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="main-menu1">
            <li><a href="#">Blog</a></li>
          </ul>
        </li>
        <li><a href="#">Documentation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown notification --warning">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="icon"><i class="fa fa-comments" aria-hidden="true"></i></div>
            <div class="count">20</div>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Message</li>
            <li>
              <a href="#">
                <span class="badge badge-warning pull-right">10</span>
                <div class="message">
                  <img class="profile" src="https://placehold.it/100x100">
                  <div class="content">
                    <div class="title">"Payment Confirmation.."</div>
                    <div class="description">Alan Anderson</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="badge badge-warning pull-right">5</span>
                <div class="message">
                  <img class="profile" src="https://placehold.it/100x100">
                  <div class="content">
                    <div class="title">"Hello World"</div>
                    <div class="description">Marco  Harmon</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="badge badge-warning pull-right">2</span>
                <div class="message">
                  <img class="profile" src="https://placehold.it/100x100">
                  <div class="content">
                    <div class="title">"Order Confirmation.."</div>
                    <div class="description">Brenda Lawson</div>
                  </div>
                </div>
              </a>
            </li>
            <li class="dropdown-footer">
              <a href="#">View All <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </li>
        <li class="dropdown notification">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i></div>
            <div class="count">0</div>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Ordering</li>
            <li class="dropdown-empty">No New Ordered</li>
            <li class="dropdown-footer">
              <a href="#">View All <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </li>
        <li class="dropdown profile">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img class="profile-img" src="/images/profile.png">
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username">Scott  White</h4>
              <hr>
              <p>emily_hart@email.com</p>
            </div>
            <ul class="action">
              <li>
                <a href="#">
                  Profile
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="badge badge-danger pull-right">5</span>
                  My Inbox
                </a>
              </li>
              <li>
                <a href="#">
                  Setting
                </a>
              </li>
              <li>
                <a href="#">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>