/**!
  * Color Scheme
  */

$green: #29c75f;
$green-darker: #18aa4a;

$blue-sky: #39c3da;
$blue-sky-darker: #20a3b9;

$yellow: #FFC153;
$yellow-darker: #e9aa3a;

$orange: #fc8229;
$orange-darker: #eb6b0e;

$red: #E74C3C;
$red-darker: #d73727;

$blue: #095077;
$blue-darker: #043D5D;

$white: #FFF;
$white-darker: #F9F9F9;

$grey: #dfe6e8;
$grey-darker: #dfe6e8;

$black: #444;
$black-darker: #222;