html, body
  width: 100%
  height: 100%
  @include font
  color: $black

body
  background-color: $grey-lighter

  .app-container
    padding: 15px;
    height: 100%;
    padding-top: $navbar-height + 15px
    padding-left: $sidebar-width + 15px

    & > .row
      padding: 15px;

*
  box-sizing: border-box

*:focus
  outline: 0 !important

a:hover
  text-decoration: none;

