html, body
  width: 100%;
  @include font;
  color: $black;
  position: relative;

html
  height: 100%;

body
  min-height: 100%;
  height: 100%;
  background-color: $grey-lighter;

  .app-container
    padding: 15px;
    height: 100%;
    padding-top: $navbar-height + 15px
    padding-left: $sidebar-width + 15px

    & > .row
      padding: 15px;

    &.app-full
      padding: 0px;
      padding-top: $navbar-height
      padding-left: $sidebar-width
      & > .row
        padding: 0px;
        padding-left: -15px;
        padding-right: -15px;

*
  box-sizing: border-box

*:focus
  outline: 0 !important

a:hover
  text-decoration: none;

.full-height
  height: 100%;

.row
  &.full-height
    height: 100%;
    & > [class*="col-"]
      height: 100%;
  &.no-gap
    margin-left: 0;
    margin-right: 0;
    & > [class*="col-"]
      padding-left: 0;
      padding-right: 0;

@include breakpoint($sm)
  body
    .app-container
      padding-left: 15px;
