aside.app-sidebar
  @include fixed($width: $sidebar-width, $left: 0)
  z-index: $z-sidebar
  background-color: $white
  box-shadow: 0 2px 2px rgba($black,0.2)

  .sidebar-header
    height: $navbar-height
    padding: 0 10px

    .sidebar-brand
      @include flex($align: center, $justify: center)
      height: $navbar-height
      border-bottom: 1px solid $grey
      font-size: 1.3em;
      font-weight: 300;
      color: $black

      .highlight
        font-weight: 400
        color: $green
        margin-right: 2px;

  .sidebar-menu
    @include flex($direction: column, $align: center, $justify: center)
    list-style: none;
    margin: 0;
    padding: 2rem 0;

    & > li
      margin-bottom: 2rem;
      width: 100%;
      & > a
        display: block;
        text-align: center;
        color: $black;
        text-decoration: none;

        .icon
          @include flex($align: center, $justify: center)
          display: block;
          margin: 0 auto;
          background-color: $grey-darker;
          color: $white;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-bottom: 1rem;

          i.fa, i.ion
            width: 100%;
            height: 100%;
            font-size: 2em;
            @include flex($align: center, $justify: center)

        .title
          font-weight: 400;
          font-size: 0.9em;
          color: $grey-darkest

      &.active
        & > a
          .icon
            background-color: $green;
          .title
            color: $green;

      &.dropdown
        & > .dropdown-menu
          top: 0;
          left: 100%;
          border-radius: 3px;
          box-shadow: 0 1px 1px $grey-darkest;
          border: 0;
          padding: 0;
          min-width: 250px;

          & > li
            border: 0
            border-radius: 0;
            padding: 0;
            border-bottom: 1px dashed $grey;
            margin-bottom: 0;
            font-weight: 300;
            font-size: 0.9em;

            a
              display: block;
              text-decoration: none;
              color: $black
              padding: 1.5rem 3rem;

            &:last-child
              border-bottom: 0;

        &:hover
          & > .dropdown-menu
            animation: fadeInLeft 0.3s 1;
            display: block;


