<aside class="app-sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Simplio</span> Admin</a>
  </div>
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/">
        <div class="icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="/">
        <div class="icon">
          <i class="fa fa-inbox" aria-hidden="true"></i>
        </div>
        <div class="title">Inbox</div>
      </a>
    </li>
    <li class="dropdown">
      <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <div class="icon">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="title">UI Kits</div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Customize</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Form</a></li>
        <li><a href="#">Datatable</a></li>
        <li><a href="#">Chart</a></li>
        <li><a href="#">Icons</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <div class="icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
        </div>
        <div class="title">Pages</div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">404</a></li>
      </ul>
    </li>
  </ul>
</aside>
