<aside class="app-sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Simplio</span> Admin</a>
  </div>
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/">
        <div class="icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="/">
        <div class="icon">
          <i class="fa fa-inbox" aria-hidden="true"></i>
        </div>
        <div class="title">Inbox</div>
      </a>
    </li>
    <li>
      <a href="/">
        <div class="icon">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="title">Components</div>
      </a>
    </li>
    <li>
      <a href="/">
        <div class="icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
        </div>
        <div class="title">Pages</div>
      </a>
    </li>
  </ul>
</aside>
