<aside class="app-sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">Simplio</span> Admin</a>
  </div>
  <ul class="sidebar-menu">
    <li class="active">
      <a href="/">
        <div class="icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="/">
        <div class="icon">
          <i class="fa fa-inbox" aria-hidden="true"></i>
        </div>
        <div class="title">Inbox</div>
      </a>
    </li>
    <li class="dropdown">
      <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <div class="icon">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="title">Components</div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
    <li>
      <a href="/">
        <div class="icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
        </div>
        <div class="title">Pages</div>
      </a>
    </li>
  </ul>
</aside>
