.app-login
  background: $green
  padding: 0 !important;

  .app-body 
    position: relative;

    .app-form
      transition: all 0.2s ease;
      background-color: $white;
      border-radius: 2px
      padding: 4rem;

      .form-header
        @include flex($align: center, $justify: center)
        font-size: 2em;
        font-weight: 200;
        color: $black
        margin-bottom: 4rem;

        .highlight
          font-weight: 400
          color: $green
          margin-right: 2px;

      form
        min-width: 280px;
        .btn-submit
          width: 100%;

    &.--loading

      .app-form
        @include blur(2px);
        transform: scale(0.8);

      .loader-container
        color: $white;
        font-size: 2em;
        font-weight: 200;
        .sk-folding-cube 
          .sk-cube
            &:before
              background-color: $white;
      &:after
        background-color: rgba($green, 0.75);